<footer class="bg-sf-blue text-white py-12">
    <div class="container px-6 lg:px-[8%] flex flex-col lg:flex-row justify-between items-center lg:items-start">
        <!-- Sección de enlaces -->
        <div class="text-center lg:text-left mb-6 lg:mb-0">
            <h3 class="text-lg font-semibold">Más de nosotros</h3>
            <ul class="mt-2 space-y-2">
                <li><a href="preguntas.html" class="hover:underline">Preguntas Frecuentes</a></li>
                <li><a href="quienes-somos.html" class="hover:underline">Quiénes somos</a></li>
                <li><a href="contacto.html" class="hover:underline">Contacto</a></li>
            </ul>
        </div>

        <!-- Separador -->
        <div class="hidden lg:block border-l border-white h-20"></div>

        <!-- Sección de contacto -->
        <div class="flex flex-col items-center text-left lg:text-left mb-6 lg:mb-0">
            <h3 class="text-lg font-semibold">Contacto</h3>
            <p class="mt-2">33 1816 7026</p>
            <p>33 2003 1166</p>
            <a href="mailto:contacto@sfconsultoria.com.mx" class="hover:underline">
                contacto@sfconsultoria.com.mx
            </a>
        </div>

        <!-- Separador -->
        <div class="hidden lg:block border-l border-white h-20"></div>

        <!-- Logo y redes sociales -->
        <div class="flex flex-col items-center md:items-end">
            <img src="src/assets/SF-logotipo-slogan-negativo.png" alt="SF Consultoría" class="h-20 mx-0">
            <div class="flex justify-center space-x-4 mt-0">
                <a href="https://youtube.com" target="_blank" class="text-white text-4xl ">
                    <i class="ri-youtube-fill"></i>
                </a>
                <a href="https://wa.me/5213318167026" target="_blank" class="text-white text-4xl">
                    <i class="ri-whatsapp-fill"></i>
                </a>
            </div>
            <p class="text-sm mt-0">Derechos reservados | SF Logística 2024</p>
        </div>
    </div>
</footer>