<section id="rabon2" class="flex flex-col items-center md:flex-row h-auto bg-white text-sf-blue">
    <!-- Imagen corregida -->
    <div class="relative flex h-auto w-full md:w-1/2 px-6 md:pl-[15%] py-10">
        <img class="w-full h-full object-cover rounded-2xl" src="src/assets/heroInicio.jpg" alt="Camiones">
    </div>

    <!-- Contenedor de texto -->
    <div class="flex flex-col w-full md:w-1/2 px-6 md:pl-10 lg:pr-[15%] pb-10 md:py-10">
        <h2 class="text-3xl md:text-4xl font-black">Camion tipo Rabon 2</h2>
        <p class="font-medium text-gray-500 mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <ul>
            <li class="flex flex-row gap-4 items-center mt-5 pr-6">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Mauris pellentesque congue libero nec</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Mauris pellentesque congue libero nec</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Mauris pellentesque congue libero nec</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Mauris pellentesque congue libero nec</p>
            </li>
            <li class="flex flex-row gap-4 items-center mt-5">
                <i class="ri-checkbox-circle-fill text-green-500 text-2xl"></i>
                <p class="text-gray-500">Mauris pellentesque congue libero nec</p>
            </li>
            
        </ul>
        <a href="unidades.html" 
            class="mt-6 inline-block bg-sf-blue text-white px-8 py-3 rounded-lg text-lg font-medium shadow-md w-full md:w-auto text-center hover:bg-[#103A62]">
            Cotizar Unidad
        </a>
    </div>
</section>
